<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd" version="6.0">
  <display-name>Lib-Shiba</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>SAdministrador</display-name>
    <servlet-name>SAdministrador</servlet-name>
    <servlet-class>Controlador.SAdministrador</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SAdministrador</servlet-name>
    <url-pattern>/SAdministrador</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SCliente</display-name>
    <servlet-name>SCliente</servlet-name>
    <servlet-class>Controlador.SCliente</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SCliente</servlet-name>
    <url-pattern>/SCliente</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SProductos</display-name>
    <servlet-name>SProductos</servlet-name>
    <servlet-class>Controlador.SProductos</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SProductos</servlet-name>
    <url-pattern>/SProductos</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ImgAdmin</display-name>
    <servlet-name>ImgAdmin</servlet-name>
    <servlet-class>Controlador.ImgAdmin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ImgAdmin</servlet-name>
    <url-pattern>/ImgAdmin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SRol</display-name>
    <servlet-name>SRol</servlet-name>
    <servlet-class>Controlador.SRol</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SRol</servlet-name>
    <url-pattern>/SRol</url-pattern>
  </servlet-mapping>
</web-app>